<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand">Amena and Ferhat's Wedding</a>
</nav>

<div class="container-fluid">

  <div class="row my-3">
    <!-- <p class="h3 ml-3">Search, Add, Edit</p> -->
    <div class="w-100"></div>
    <div class="input-group col-md-6 col-12 my-1">
      <div class="input-group-prepend">
        <span class="input-group-text">+</span>
      </div>
      <input type="tel" class="form-control" placeholder="Phone" [(ngModel)]="new.phone" (ngModelChange)="onSearch(new.phone)">
      <input type="text" class="form-control" placeholder="Name" [(ngModel)]="new.name" (ngModelChange)="onSearch(new.name)">
    </div>
    <div class="input-group col-md-6 col-12 my-1">
      <div class="input-group-prepend">
        <span class="input-group-text">Group</span>
      </div>
      <input type="text" class="form-control" placeholder="Group" [(ngModel)]="new.group" (ngModelChange)="onSearch(new.group)">
    </div>
    <div class="input-group col-md-6 col-12 my-1" *ngFor="let event of events">
      <div class="input-group-prepend">
        <span class="input-group-text">{{ event.name }}</span>
        <span class="input-group-text bg-light">Max</span>
      </div>
      <input type="number" class="form-control" [(ngModel)]="new.events[event.id]">
      <div class="input-group-prepend">
        <span class="input-group-text bg-light">RSVP</span>
      </div>
      <input type="number" class="form-control" [(ngModel)]="new.rsvp[event.id]">
    </div>
    <div class="col-md-6 col-12 my-1">
      <div class="form-group form-check form-check-inline">
        <input type="checkbox" class="form-check-input" [(ngModel)]="new.unlikely" (ngModelChange)="onSearch(new.unlikely ? 'unlikelyOnly' : '')">
        <label class="form-check-label">Unlikely</label>
      </div>
      <div class="form-group form-check form-check-inline">
        <input type="checkbox" class="form-check-input" [(ngModel)]="new.wishlist" (ngModelChange)="onSearch(new.wishlist ? 'wishlistOnly' : '')">
        <label class="form-check-label">Wishlist</label>
      </div>
    </div>
    <div class="w-100"></div>
    <button type="button" class="btn btn-outline-primary btn-block mx-3" (click)="onAdd(new)">Add</button>
  </div>

</div>

<ngb-accordion *ngFor="let invitation of (invitations$ | async | filter:(searchResult$ | async))" [closeOthers]="true">
  <ngb-panel [title]="invitation.name + ' +' + invitation.phone + (invitation.group ? ' (' + invitation.group + ')' : '')">
    <ng-template ngbPanelContent>
      <div class="row">
        <div class="input-group col-md-6 col-12 my-1">
          <div class="input-group-prepend">
            <span class="input-group-text">+</span>
          </div>
          <input type="tel" class="form-control" placeholder="Phone" [(ngModel)]="invitation.phone">
          <input type="text" class="form-control" placeholder="Name" [(ngModel)]="invitation.name">
        </div>
        <div class="input-group col-md-6 col-12 my-1">
          <div class="input-group-prepend">
            <span class="input-group-text">Group</span>
          </div>
          <input type="text" class="form-control" placeholder="Group" [(ngModel)]="invitation.group">
        </div>
        <div class="input-group col-md-6 col-12 my-1" *ngFor="let event of events">
          <div class="input-group-prepend">
            <span class="input-group-text">{{ event.name }}</span>
            <span class="input-group-text bg-light">Max</span>
          </div>
          <input type="number" class="form-control" [(ngModel)]="invitation.events[event.id]">
          <div class="input-group-prepend">
            <span class="input-group-text bg-light">RSVP</span>
          </div>
          <input type="number" class="form-control" [(ngModel)]="invitation.rsvp[event.id]">
        </div>
        <div class="col-md-6 col-12 my-1">
          <div class="form-group form-check form-check-inline">
            <input type="checkbox" class="form-check-input" [(ngModel)]="invitation.unlikely">
            <label class="form-check-label">Unlikely</label>
          </div>
          <div class="form-group form-check form-check-inline">
            <input type="checkbox" class="form-check-input" [(ngModel)]="invitation.wishlist">
            <label class="form-check-label">Wishlist</label>
          </div>
        </div>
      </div>
      <div class="row">
        <button type="button" class="col btn btn-primary float-left mx-3" (click)="onChange(invitation)">Save</button>
        <button type="button" class="col btn btn-danger float-right mx-3" (click)="onDelete(invitation)">Delete</button>
      </div>
    </ng-template>
  </ngb-panel>
</ngb-accordion>

<div class="fixed-bottom">
  <ngb-alert *ngFor="let message of (messageService.messages$ | async)" [type]="message.type" [dismissible]="false">
    {{ message.text }}
  </ngb-alert>
</div>

<!-- <div ngbDropdown placement="top-left" class="d-inline-block">
<button class="btn btn-outline-primary" ngbDropdownToggle>RSVP</button>
<div ngbDropdownMenu>
<button *ngFor="let i of numbers(event.max)" class="dropdown-item" (click)="rsvp(event, i)">{{ i }}</button>
</div>
</div> -->
