/* You can add global styles to this file, and also import other style files */

@font-face { font-family: "ChaseCallasSH"; src: url("./assets/fonts/chasecallassh.ttf"); }

* {
  font-family: "Times New Roman", Times, serif;
}

.fancy-text {
  font-family: ChaseCallasSH;
}

p, h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

.invitation {
  background-color: #D3B096;
}

.invitation input {
  background-color: hsl(93, 15%, 65%);
  border-color: hsl(93, 10%, 50%);
}

.invitation .input-group-text {
  background-color: hsl(93, 15%, 65%);
  border-color: hsl(93, 10%, 50%);
}

.invitation .list-group-item {
  background-color: hsl(93, 15%, 65%);
}

.green-text {
  color: #28351D;
}

.maroon-text {
  color: #4B170C;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  .col, [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}
